<template>
  <div id="app">
    <section class="container-fluid">
      <div class="row">
        <div class="col">
          <b-button-toolbar>
            <b-button
              @click="onClickPlaying"
              :variant="playingButton.variant"
              style="min-width: 4.5rem;"
              class="mr-2"
            >
              {{ playingButton.text }}
            </b-button>
            <b-button variant="success" class="mr-2" @click="onClickSave">
              Save
            </b-button>
            <b-form-file
              v-model="inputFile"
              placeholder="Choose a json file..."
              drop-placeholder="Drop file here..."
              style="max-width: 20rem;"
              @input="onFileInput"
            ></b-form-file>
          </b-button-toolbar>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <b-input-group prepend="Threshold" class="short">
            <b-input-group-prepend is-text>Max</b-input-group-prepend>
            <b-form-input v-model.number="threshold.max"></b-form-input>
            <b-input-group-append is-text style="margin-right: -1px;">
              Min
            </b-input-group-append>
            <b-form-input v-model.number="threshold.min"></b-form-input>
            <b-input-group-append is-text style="margin-right: -1px;">
              Born
            </b-input-group-append>
            <b-form-input v-model.number="threshold.born.upper"></b-form-input>
            <b-form-input v-model.number="threshold.born.lower"></b-form-input>
          </b-input-group>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <b-button-toolbar>
            <b-input-group prepend="Width" append="cells" class="mr-2 short">
              <b-form-input v-model.number="width"></b-form-input>
            </b-input-group>
            <b-input-group prepend="Height" append="cells" class="mr-2 short">
              <b-form-input v-model.number="height"></b-form-input>
            </b-input-group>
            <b-button-group>
              <b-button @click="onClickNew(false)">New Moore</b-button>
              <b-button @click="onClickNew(true)">New Hexagon</b-button>
            </b-button-group>
          </b-button-toolbar>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <b-button-toolbar>
            <b-input-group prepend="Possibility" class="short mr-2">
              <b-form-input v-model.number="possibility"></b-form-input>
              <b-input-group-append>
                <b-input-group-text>%</b-input-group-text>
                <b-button variant="outline-secondary" @click="onClickRandom">
                  Random
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-button-toolbar>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <b-button-toolbar class="short">
            <b-input-group prepend="Cell size" class="mr-2" append="px">
              <b-form-input v-model.number="cellSize"></b-form-input>
            </b-input-group>
            <b-input-group prepend="Refresh rate" append="ms">
              <b-form-input v-model.number="refreshrate"></b-form-input>
            </b-input-group>
          </b-button-toolbar>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <span class="mr-2">Turns: {{ turns }}</span>
          <span class="mr-2">Alive cells: {{ cellsCounter.alive }}</span>
          <span>Dead cells: {{ cellsCounter.dead }}</span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <Display :world.sync="world" :cell-size="cellSize"></Display>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { World } from '@/assets/lifegame'
import Display from '@/components/Display'
import lodash from 'lodash'
import FileSaver from 'file-saver'
import moment from 'moment'

export default {
  name: 'app',
  components: {
    Display
  },
  data() {
    const width = 20
    const height = 20
    const threshold = {
      max: 4,
      min: 1,
      born: {
        upper: 3,
        lower: 3
      }
    }
    const isHexagon = false
    const world = new World({
      width,
      height,
      upper: threshold.max,
      lower: threshold.min,
      born: threshold.born,
      hexagon: isHexagon
    })

    return {
      world,
      playing: {
        status: false,
        interval: null
      },
      threshold,
      refreshrate: 100,
      possibility: 30,
      width,
      height,
      turns: 0,
      cellSize: 10,
      inputFile: null,
      isHexagon
    }
  },
  computed: {
    playingButton() {
      return this.playing.status
        ? { variant: 'secondary', text: 'Stop' }
        : { variant: 'primary', text: 'Start' }
    },
    cellsCounter() {
      return {
        alive: this.world.aliveCells,
        dead: this.world.deadCells
      }
    }
  },
  watch: {
    refreshrate: lodash.debounce(function() {
      this.updateInterval(this.playing.status, this.refreshrate)
    }, 1000),
    threshold: {
      handler(newVal) {
        this.world.threshold = {
          upper: newVal.max,
          lower: newVal.min,
          born: newVal.born
        }
      },
      deep: true
    }
  },
  methods: {
    onFileInput() {
      this.playing.status = false
      this.updateInterval(false)
      if (this.inputFile === null) return

      const reader = new FileReader()
      reader.onload = () => {
        const loadedWorld = JSON.parse(reader.result)
        this.world = new World(loadedWorld)
        this.world.aliveCells = loadedWorld.aliveCells
        this.world.deadCells = loadedWorld.deadCells
        this.world.cells = loadedWorld.cells
        this.width = this.world.width
        this.height = this.world.height
        this.threshold = {
          max: this.world.threshold.upper,
          min: this.world.threshold.lower,
          born: this.world.threshold.born
        }
        this.isHexagon = this.world.hexagon
      }
      reader.readAsText(this.inputFile)
    },
    onClickSave() {
      this.playing.status = false
      this.updateInterval(false)

      const data = JSON.stringify(this.world)
      const blob = new Blob([data], { type: 'application/json' })
      FileSaver.saveAs(
        blob,
        `world_${moment().format('YYYY-MM-DD_hh-mm-ss')}.json`
      )
    },
    onClickNew(isHex) {
      this.isHexagon = isHex
      this.playing.status = false
      this.updateInterval(false)
      this.turns = 0
      this.world = new World({
        width: this.width,
        height: this.height,
        upper: this.threshold.max,
        lower: this.threshold.min,
        born: this.threshold.born,
        hexagon: isHex
      })
    },
    onClickRandom() {
      this.onClickNew(this.isHexagon)
      this.world.random(this.possibility / 100)
    },
    onClickPlaying() {
      this.playing.status = !this.playing.status
      this.updateInterval(this.playing.status, this.refreshrate)
    },
    updateInterval(play, delay) {
      if (this.playing.interval !== null) {
        clearInterval(this.playing.interval)
      }
      if (play === true) {
        this.playing.interval = setInterval(() => {
          this.world.tick()
          ++this.turns
        }, delay)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#app {
  padding: 1rem;
}
.short {
  input[type='text'] {
    max-width: 6rem;
  }
}
</style>
